/* Base structure */
html {
  position: relative;
  min-height: 100%;

}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    animation: slideInUp 1s;
    text-align: center;
}

body {
    background-color: #2d3884;
    height: 100%;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    font-family: Roboto, sans-serif;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

.btn {
    padding: 1.05rem 2.75rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 12rem;
    border: .2rem
    solid white;
    transition: all .2s ease-in-out;
}
.btn:hover {
    color: white;
    transform: scale(1.1);
}

#git:hover, #linked:hover {
    animation: swing 0.5s;
}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}
.navbar-nav > li a {
    background:transparent !important;
    transition: all .2s ease-in-out;

}
.navbar-nav > li a:hover {
    transform: scale(1.2);
}
