.App {
	overflow-x: hidden;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 48px;

	@media (max-width: 768px) {
		padding: 16px;
	}

	.title {
		font-weight: 400;
		font-size: 20px;
		letter-spacing: 0.02em;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: top;
		margin: 0px 0px 0px 8px;
		overflow: hidden;
	}

	.actions {
		display: flex;

		a {
			margin-left: 8px;
			text-decoration: none;
			font-weight: bold;
			color: #fff;
			text-transform: uppercase;

			transition: .5s ease;
			border: 2px white solid;
			border-radius: 10px;
			padding: 6px 8px;
			font-size: 12px;

			&:hover {
				background-color: #18ffff;
				color: rgb(33, 33, 33);
				border-color: #18ffff;
			}
		}
	}
}

section {
	min-height: 100vh;
	background-color: rgb(33, 33, 33);
	color: #fff;
}

section.about {
	background-color: #fff;
	color: #000;
}

section.about,
section.projects {
	padding: 50px 25px;

	.section-header {
		text-align: center;
		font-size: 30px;
	}

	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: 40px;

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}
}